mat-card {
  position: absolute;
  background-color: #ffffffe6;
  border-radius: 15px;
  width: 380px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
mat-card-title {
  text-align: center;
  margin-bottom: 20px;
}
mat-card-title img {
  width: 80px;
}
mat-card-content {
  position: relative;
}
mat-form-field {
  width: 100%;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginForm button {
  margin-top: 20px;
}
